body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#calculator-base {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    border-radius: 2px;
    width: 30vw;
    height: 60vh;
}

#display {
    border: 1px solid black;
    border-radius: 3px;
    width: 28vw;
    height: 7vh;
    margin: 2vh auto;
    flex-grow: 1;
    font-size: 10vh;
    direction: ltr;
}

#button-container {
    background-color: gray;
    flex-grow: 6;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 5px;
    margin: 10px;
    height: 95%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
    padding: auto;
}

.button:hover {
    background-color: rgb(207, 204, 204);
}

.button-wide {
    grid-column: span 2;
}
